<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<div class="container">
    <h1>Lista de Produtos</h1>
    <a href="/addProduct" class="btn">Adicionar Novo Produto</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${allProducts}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/showFormForUpdate/{id}(id=${product.id})}" class="btn">Editar</a>
                <a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
